/* Categories Section */
.categories {
    width: 95%;
    max-width: 1400px;
    height: 350px;
    margin: 50px auto;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    position: relative;
    overflow: visible; /* Ensure overflow is visible */
  }

  
  .categories h3 {
    padding: 10px;
    text-align: center;
    font-size: 28px;
    margin: 20px 0;
    color: #333;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .categories-swiper {
    position: relative;
    overflow: visible !important; 
    padding-bottom: 50px;
  }
  
  .categories-swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .category-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #fff;
    text-decoration: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .category-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
  
  .category-card img {
    object-fit: contain;
    margin-bottom: 20px;
  }
  
  .categories-swiper .swiper-button-prev,
  .categories-swiper .swiper-button-next {
    color: #ff6f61;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .categories-swiper .swiper-button-prev {
    left: -10px; 
  }
  
  .categories-swiper .swiper-button-next {
    right: -10px;
  }
  
  .swiper-button-prev:hover, .swiper-button-next:hover {
    transform: translateY(-50%) scale(1.15); 
}
 
  .categories-swiper .swiper-pagination-bullet {
    background-color: #ff6f61;
    opacity: 1;
  }

  #categories-section > div > div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    top: 250px;
  }
